.header,.footer{
    height: 70px;
}
.header{
    background-color: rgb(151, 187, 215);
}
@media screen and (max-width:992px) {
    .leftSide{
        border-bottom: 1px solid gray;
    }
    .rightSide{
        margin-top: 3px;
    }
}

@media screen and (min-width:991px) {
    .leftSide{
        border-right: 1px solid gray;
    }
}

/* @media screen and (min-height:500px) {
    .header,.footer{
        height: 7vh;
    }
    
    .leftSide,.rightSide,.leftSideP{
        height: 85vh;
    }
} */

a{
    text-decoration: none;
    color: black;
}

.cardProj{
    box-shadow: 3px 3px rgb(173, 168, 168,.5);
    width: 18rem;
}

i{
    margin-left: 5px;
}

.imgProfile{
    width: 50%;
    border-radius: 50%;
}
.imgProfile:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.description{
    height: 15vh;
    overflow: scroll;
}

@media screen and (max-width:730px) {
    .cardProj{
        width: 90%;
    }
}
@media screen and (max-width:990px) {
    .row{
        justify-content: center;
    }
}

.cardProj img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}